/**
 * theme.css - default css styling for 402 framework user theme 'minimal'
 */

/*header no.3*/
h3 {
font-size: 17px;
font-weight: normal;
color: #1a3852;
}

/*header*/
div.header {
background-color: #1a3852;
}

/*sidebar*/
div.sidebar_left {
height:100%;
width:100%;
font-size: 11px;
border-right: 1px solid #dedede;
border-bottom: 1px solid #dedede;
padding-bottom:75px;
}

/*sidebar title metadata*/
div.sidebar_left div.title {
font-size: 17px;
color: #1a3852;
margin: 10px;
padding: 10px;
}

/*sidebar title metadata*/
div.sidebar_left div.description {
margin: 5px;
padding: 5px;
font-size: 12px;
color: #1a3852;
border: 1px solid #dedede;
background-color: #eeeeee;
}