/**
 * frame.css - default css styling for 402 framework
 */

/*html and body styles*/
html, body {
height: 100%;
margin: 0px;
}


/*specific body styles*/
body {
background-color: #ffffff;
/*font-family: arial,sans-serif;*/
font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 15px;
color: #555555;
min-width: 1000px;
}

/*header no.3*/
h3 {
font-size: 17px;
font-weight: normal;
color: #1a3852;
}
